*,*::after,*::before{
    box-sizing: border-box;    
}
body{
    background-image:url('../img/mountain.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu_container{
    width: 75%;
    margin-left: auto;
    margin-right:auto;
    height: 90vh;
    margin-top: 5vh;    
    display: flex;
    justify-content:space-around;
    perspective: 700px;
}

.menu_column{    
    height: 100%;
    flex:0 0 33.33%;        
    transition:all 2s;
    position: relative;    
    transform-style: preserve-3d;
    background-color: rgba(0,0,0,.7); 
    border:1px solid rgba(100,100,100,.5);
}


.front,.back{
    position: absolute;
    width: 95%;
    height: 98%;    
    top:1%;
    left:2.5%;          
    backface-visibility: hidden;
    border:1px solid orangered;
    transition: all 1.5s;    
}

.back{
    transform: rotateY(180deg);
}

.menu_column:nth-child(1){
    transform-origin: center right;
    z-index: 9090;
}

.menu_column:nth-child(3){    
    transform-origin: center left;
}

.menu_column:nth-child(1).flip{
    transform: rotateY(180deg);
    z-index: 9090;
}
.menu_column:nth-child(3).flip{
    transform: rotateY(-180deg);
}


.menu_section{    
    height: 100%;       
}
.menu_section_title{
    color:#eee;        
    text-align: center;
    margin:.2em 0;
    font-size: 1rem;
}

.menu_section_items{
    width: 100%;
    margin:0;
    margin-top:.5em;
    padding:5px;
}
.item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid goldenrod;
    justify-content: space-around;
    margin-bottom: .5em;
    padding-bottom: .5em;    
}
.item img{
    width: 60px;
    height: 60px;
    max-width: 60px;
    border-radius: 25%;
    flex:0 0 30%;
}
.item_text{
    flex:0 0 60%;  
    color:#ccc;  
}
.item_name{
    font-size: .8em;
    font-weight: bold;
    margin:0;
}

.item_description{
    font-size: .5em;
    max-height: 40px;
    overflow: hidden;
}
.portada{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
