*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: beige;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80vh;
}

.container {
  width: 50%;
  background-color: steelblue;
}

.menu_button {
  width: 40px;
  height: 40px;
  background-color: orangered;
  position: relative;
  cursor: pointer;
}

.menu_button::after {
  position: absolute;
  width: 28px;
  top: 8px;
  height: 4px;
  left: 6px;
  background-color: white;
  display: block;
  -webkit-box-shadow: 0 10px white, 0 20px white;
  box-shadow: 0 10px white, 0 20px white;
  content: '';
}

.menu_button:hover {
  background-color: #cc3700;
}

.nav {
  width: 80%;
  position: relative;
}

/*

.menu{    
    list-style: none;
    margin:0;
    margin-top: 5px;
    padding: 0;    
    height: 0;
    width: 100%;
    position: absolute;    
    transition: all 1s;
    &_item{   
        padding: 0;             
        background-color: lighten($bg, 5);                
        overflow: hidden;
        height: 0;
        transition: all 1s;        
    }
    &_link{
        padding:.5em 0;
        padding-left: 1em;
        height: 100%;        
        line-height: 100%;
        width: 100%;
        display: inline-block;
        &.submenu_container::after{
            content:'';  
            display: inline-block;          
            width: 10px;
            height: 10px;            
            clip-path: polygon(0 0, 100% 50%,0 100%);
            background-color:$bg;
            float: right;
            margin-top:5px;
            margin-right: .5em;
        }
        &:hover{
            background-color: rgba(255,255,255,.2);
        }
        &.back{
            background-color: darken($bg,5);
        }
        &.back::after{
            content:'';  
            display: inline-block;          
            width: 10px;
            height: 10px;            
            clip-path: polygon(0 50%, 100% 0,100% 100%);
            background-color: steelblue;
            float: left;
            margin-top:5px;
            margin-right: .5em;
        }
    }
}

.submenu{        
    position: absolute;
    top:0;
    left:0;        
    margin:0;        
    padding: 0;
    width: 100%;
    height: 0;
}

.show{ 
    //height: auto;    
    &-fadeIn>.menu_item{
           animation: fade-in .7s forwards;            
    }    
    &-fadeOut>.menu_item{
        animation:fade-out .7s forwards;
    }
    &-explode{        
        animation: explode .7s forwards;
        &>.menu_item{
            height: auto;
            &>.menu_link{display: inline-block}
        }
        

    }

    overflow: visible;
}


@keyframes fade-in{
    from{   
        height: 0;
        width: 0;     
        opacity: 0;        
        transform: translateX(50%);
    }
    to{        
        opacity: 1;
        height: auto;        
        width: 100%;                
        transform: translateX(0);
    }    
}


@keyframes fade-out{
    from{   
        height: 0;
        width: 0;     
        opacity: 0;                
    }
    to{        
        opacity: 1;
        height: auto;        
        width: 100%;                
    }
}
@keyframes explode{
    from{
        height: 150%;
        width: 150%;
        opacity: 0;
        overflow: hidden;
        border-radius: 50%;
        transform-origin: center;        
    }
    to{
        width: 100%;
        height: auto;
        opacity: 1;
        overflow: hidden;
        border-radius: 0;        
    }
}

*/
.menu, .submenu {
  list-style: none;
  margin: 0;
  height: 0;
  width: 100%;
  margin-top: 5px;
  padding-left: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: steelblue;
  overflow: hidden;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}

.menu_item, .submenu_item {
  padding-right: 0;
  border-bottom: 1px solid #3f75a2;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu_link, .submenu_link {
  padding: .5em 0;
  padding-left: 1em;
  height: 100%;
  line-height: 100%;
  width: 100%;
  display: inline-block;
}

.menu_link:hover, .submenu_link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.menu_link.back, .submenu_link.back {
  background-color: #3f75a2;
}

.menu_link.back::after, .submenu_link.back::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%);
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  background-color: steelblue;
  float: left;
  margin-top: 5px;
  margin-right: .5em;
}

.menu .submenu_container::after, .submenu .submenu_container::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background-color: steelblue;
  float: right;
  margin-top: 5px;
  margin-right: .5em;
}

.submenu {
  margin-top: 0;
}

.slideDown {
  width: 100%;
  height: auto;
  max-height: auto;
}

/*# sourceMappingURL=styles.css.map */