@mixin menu($bg){    
    &, .submenu{
    list-style: none;
    margin:0;
    height:0;
    width:100%;
    margin-top:1px;
    padding-left: 0;    
    position:absolute;
    top:0;
    left:0;
    background-color: $bg;           
    overflow: hidden;        
    transition:all .3s;
    &_item{        
        transition:all .3s;
        border-bottom:1px solid darken($bg,5);
    }
    &_link{        
        padding:.5em 0;
        padding-left: 1em;
        height: 100%;        
        line-height: 100%;
        width: 100%;
        display: inline-block;        
        &:hover{
            background-color: rgba(10,10,10,.7);
        }
        &.back{
            background-color: darken($bg,15);
            &:hover{
            background-color: rgba(10,10,10,.7);
        }
        }
        &.back::after{
            content:'';  
            display: inline-block;          
            width: 10px;
            height: 10px;            
            clip-path: polygon(0 50%, 100% 0,100% 100%);
            background-color: darken($bg,50);
            float: left;
            margin-top:5px;
            margin-right: .5em;
        }
    }
    &_container::after{
            content:'';  
            display: inline-block;          
            width: 10px;
            height: 10px;            
            clip-path: polygon(0 0, 100% 50%,0 100%);
            background-color:darken($bg,15);
            float: right;
            margin-top:5px;
            margin-right: .5em;
     }
    }    
}
