@import './_button';
@import './_menu';
@import './utils';
*,*::after,*::before{
    box-sizing: border-box;    
}

$bg:steelblue;
$button:orangered;
$text:white;
a{color:$text;text-decoration: none;}
body{
    padding: 0;
    margin:0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;    
    height: 80vh;
}

.container{
    width: 100%;    
    background-color: $bg;
    position: relative;
}

.menu_button{
    @include menu_button(40px,red,#ddd);
}

.nav{
    background-color: orangered;
    width: 50%;
    position: relative; 
    @include phone(){
        width: 100%;
    }
    @include tablet(){
        width: 75%;
    }
}

.menu{
    @include menu(hsl(0deg,60%,50%));        
}    

